@use '../../assets/styles/variables.scss' as *;

.skills-container{
    display: none;
}

@media screen and (min-width: $tablet-breakpoint) {
    .skills-container{
        display: contents;
    }
    .skills-all-text{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .skills-text{
        width: 70vw;
    }
    .skills-header{
        font-family: $font-header;
        font-size: 3rem;
    }
    .skills-icons{
        display: flex;
        justify-content: space-around;
        padding: 2vh 10vw;
    }
}
