@use '../../assets/styles/variables.scss' as *;

.text-text{
    font-family: $font-text;
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
}
 
@media screen and (min-width: $tablet-breakpoint) {
    .text-text{
        font-size: 1.25rem;
    }
}