@use '../../assets/styles/variables.scss' as *;

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header{
        font-family: $font-header;
        font-size: 2rem;
        font-weight: 700;
    }
    &__image{
        width: 80vw;
        height: auto;
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .about{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 2fr;
        margin-top: 2vw;
        &__header{
            font-size: 3rem;
            
            grid-column: 1/2;
            grid-row: 1/2;
        }
        &__text{
            width: 50vw;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        &__image{
           width: 30vw;
           
           grid-column: 2/3;
           grid-row: 1/3;
        }
    }
}