@use '../../assets/styles/variables.scss' as *;

.navigation-container{
    display: none;
}

@media screen and (min-width: $tablet-breakpoint) {
    .navigation-container{
        width: 25vw;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .navigation-text{
        font-family: $font-text;
        font-weight: 400;
        font-size: 1.25rem;
    }
}