@use '../../assets/styles/variables.scss' as *;

.header-container{
    text-align: center;
}
.header-text{
    font-family: $font-header;
    font-weight: 700;
    font-size: 1.5rem;
}

@media screen and (min-width: $tablet-breakpoint) {
    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 15vh;
    }
    .header-text{
        font-size: 3rem;
    }
}